awscli==1.16.81
awsebcli==3.14.8
boto3==1.9.71
botocore==1.12.71
cement==2.8.2
Click==7.0
colorama==0.3.9
docutils==0.14
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.1.0
pathspec==0.5.5
psycopg2==2.7.6.1
pyasn1==0.4.4
python-dateutil==2.7.5
PyYAML==5.4
requirements==0.1
rsa==3.4.2
s3transfer==0.1.13
semantic-version==2.5.0
six==1.11.0
SQLAlchemy==1.2.14
termcolor==1.1.0
urllib3==1.22
virtualenv==16.1.0
Werkzeug==0.14.1
